.icon {
	background: url(../images/sprite.png) no-repeat;
	display: inline-block;
}
.icon-aim  {
background-position: 0px -295px;
width: 46px ;
height: 46px;
}
.icon-bullet  {
background-position: 0px 0px;
width: 9px ;
height: 13px;
}
.icon-color  {
background-position: 0px -461px;
width: 42px ;
height: 47px;
}
.icon-mans  {
background-position: 0px -628px;
width: 48px ;
height: 48px;
}
.icon-monitor  {
background-position: 0px -133px;
width: 48px ;
height: 42px;
}
.icon-picture  {
background-position: 0px -796px;
width: 48px ;
height: 48px;
}
.icon-tools  {
background-position: 0px -964px;
width: 48px ;
height: 48px;
}
